/* border-box code below */
*, *::before, *::after {
    box-sizing: border-box;
}

h1 {
    background-color: aquamarine;
    font-weight: bold;
}
h3 {
    color: rgb(3, 3, 110);
}
ol, ul { 
    list-style-position: inside;
}
.special-text {
    color: green;
    font-weight: bold;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}

.button {
    font-weight: 600;
    z-index: -1;
    background-color: #0000FF;
}
.button.love,.like {
    color: #0000FF;
}
#love-button {
    background-color: rgb(225, 0, 0);
}
#like-button {
    background-color: #00FF00;
}
.button.dislike,.hate {
    color: rgb(180, 0, 0);
}
#dislike-button {
    background-color: rgb(225, 165, 0);
}
#hate-button {
    background-color: rgba(0, 0, 0, 0.9);
}
/* Below is text on love.html - the "I love you" button link */
.sub-button {
    background-color: #FFFFFF;
    font-size: 50px;
    color: hsl(350, 100%, 75%);
    font-weight: 600;
    font-family: Verdana, Tahoma, sans-serif;
}
/* Box model practice */
.box.complex {
    box-sizing: border-box;
    width: 350px;
    height: auto;
    padding: 10px 80px 20px 10px;
    border-top: 5px dotted red;
    border-bottom: 3px solid blue;
    border-left: 4px solid black;
    border-right: 4px solid black;
    margin: 10px auto 50px auto;
}
span {
    box-sizing: border-box;
    width: 80px;
    height: auto;
    border: 2px solid blue;
    font-weight: bold;
    background-color: lightblue;
    display: inline-block;
}

/* Flexbox on image and links section */
.image-container {
    display: flex;
    border: 5px solid blue;
}
.image-container div {
    flex: 1;
}

.image-container .image-1 {
    background-color: yellow;
}
.image-container .image-2 {
    background-color: green;
}